<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Inicio</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	<header>
		<h1>Hola Proyecto 40</h1>
	</header>
	<nav>
		<a th:href="@{index}">inicio</a>
		<a th:href="@{nosotros}">nosotros</a>
		<a th:href="@{productos}">productos</a>
		<a th:href="@{contacto}">contacto</a>
	</nav>
	<main>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente culpa saepe laudantium. Incidunt veniam
			enim ipsam pariatur doloremque. Possimus et quibusdam nesciunt temporibus qui assumenda porro eaque incidunt
			ex in distinctio voluptate eos ullam voluptatem ut sit tenetur voluptates, commodi consequatur quo! Autem,
			voluptatum nulla. Dolorem, culpa atque. Excepturi nostrum enim soluta? Quae, cumque nam itaque, cum et ipsam
			non quam natus placeat labore totam maxime suscipit necessitatibus eius dolore. Quisquam adipisci corrupti
			autem aliquam quaerat delectus temporibus, mollitia odio fugit modi, qui vel possimus iure magnam rem? Amet
			assumenda ea necessitatibus, eos quod culpa sit harum fugit ullam dolores soluta ad quia quidem sapiente.
			Error, voluptatibus mollitia? Nisi a hic harum fugit suscipit amet quos neque.
		</p>
		<p>

			Repellat vel aliquid error odit dolorum molestiae sint maiores doloribus adipisci veniam laudantium eum
			perspiciatis excepturi totam iste non, explicabo quas officia eveniet culpa molestias incidunt inventore!
			Minus, vel repellat? Nemo necessitatibus dignissimos ex fugiat? Dolores, temporibus praesentium et rerum
			architecto odit cupiditate. Totam illum voluptates optio quibusdam, tempore doloribus sunt ipsum, accusamus,
			quaerat laboriosam numquam iure. Ullam aspernatur fuga consequatur? Veritatis et sint modi inventore.
			Reiciendis optio, praesentium harum magni unde ipsa delectus vero, cumque incidunt soluta totam et
			excepturi, cupiditate autem? Itaque esse ab consequatur dolor optio, quos aperiam voluptatum, vitae tenetur
			quidem sint quam officia laboriosam! Libero modi nulla totam quasi error itaque, optio et earum
			reprehenderit? Iste corporis ullam quidem. Dolores minima animi nesciunt fuga tempore, ad quidem odio ullam.
			Tempora vitae pariatur commodi facilis accusamus asperiores aperiam numquam.
		</p>
	</main>
</body>

</html>